Source: libwifi-direct
Section: net
Priority: extra
Maintainer: Dongwook Lee <dwmax.lee@samsung.com>, Sungsik Jang <sungsik.jang@samsung.com>
Uploaders: Dongwook Lee <dwmax.lee@samsung.com> Sungsik Jang <sungsik.jang@samsung.com>, Taeksu Shin <taeksu.shin@samsung.com>
Build-Depends: debhelper (>= 5), autotools-dev, libslp-setting-dev, libglib2.0-dev, dlog-dev, libdbus-glib-1-dev
Standards-Version: 3.7.2

Package: libwifi-direct
Section: libs
Architecture: any 
Depends: ${shlibs:Depends}, ${misc:Depends},  libslp-setting-0, libglib2.0-0 
Description: wifi direct library (Shared Library)

Package: libwifi-direct-dev
Section: libs
Architecture: any 
Depends: libwifi-direct (= ${Source-Version}), libslp-setting-dev, libglib2.0-dev
Description: wifi direct (Development)

